
.icon-up-dir:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-up-dir-1:before { content: '\e803'; } /* '' */