* {

margin: 0;
padding: 0;
font-family:  Arial;



}
body{

background: #DEDEDE;

min-height: 100vh;
/* display: flex;  ***/

}
header {

width:  100%;
overflow: hidden;
background: white;
margin-bottom: 20px;

}
p{

color: black; 

}

.wrappper{

width: 90%;
max-width: 1000px;
margin: auto;
overflow: hidden;

}

header .logo{

color:white;
font-size: 50px;
line-height: 100px;


}
.info{

width: 100%;
max-width: 1060px;
background: white;
padding: 25px;
border: 1px solid rgba(0,0,0,0.30);
margin:  auto;


}
.info p{


font-size: 24px;
color: #424949  ;

}

.login{


display: flex;
overflow:hidden;

}

 label {

color: #424949;
font-weight: bolder;
font-size: 20px;

}

h3{

color: #424949;
font-size: 20px;
font-weight: lighter;
}
.lo{
  
width: 100%;


padding: 40px;
background: white;
border: 1px solid rgba(0,0,0,0.30);
 margin-right:  30px;
/*
 margin-left:   730px;
 margin-right:  30px;
 **/
margin: auto;
overflow:hidden;
 
}

.lolo{

width: 100%;


padding: 40px;
background: white;
border: 1px solid rgba(0,0,0,0.30);
 margin: auto;
 margin-left:   30px;
 overflow:hidden;
/*
margin-left:   30px;
 margin-right:  730px;
 margin: auto;**/


}








h3{

text-align: center;
font-size: 25px;
color: #424949  ;
padding:  25px;

}

input{

display: block;   
padding:18px; /*   altura  */
width: 90%;
margin:  40px 0px; /* arriba y abajo*/ 
font-size: 30px;
overflow:hidden;



}
.boton{
background:  #2E86C1 ; /* DEGRADADO*/ 
border:0;

color: black;

border-radius: 5px;
margin-bottom: 0;
float: right;
width: 300px;
 overflow:hidden;


}

@media(max-width:768px){

.info{

  width: 50%;
}

.login {

 width: 50%;
}

.info_pets{

width: 50%;

}
}

.info_pets{


width: 100%;
max-width: 1060px;

padding: 50px;

margin:  auto;
 overflow:hidden;

}
.info_pets h1{

text-align: center;
font-size: 40px;
color: #424949  ;
}
.info_pets p{

text-align: center;
font-size: 25px;
color: #424949  ;

}
.linea{
width: 100%;
max-width: 1060px;

padding: 50px;

margin:  auto;
 overflow:hidden;


}
 