* {

margin: 0;
padding: 0;
font-family:  Arial;



}
body{

background: #DEDEDE;

min-height: 100vh;
/* display: flex;  ***/

}
header {

width:  100%;
overflow: hidden;
background: white;
margin-bottom: 20px;

}
p{

color: black; 

}

.wrappper{

width: 90%;
max-width: 1000px;
margin: auto;
overflow: hidden;

}

header .logo{

color:white;
font-size: 50px;
line-height: 100px;


}
.info{

width: 100%;
max-width: 1000px;
background: white;
padding: 20px;
border: 1px solid rgba(0,0,0,0.30);
margin:  auto;


}

.login{


display: flex;

}
.lo{
  margin: auto;
width: 50%;
max-width: 1000px;

padding: 40px;
background: white;
border: 1px solid rgba(0,0,0,0.30);

}

.lolo{
  margin: auto;
width: 50%;
max-width: 1000px;

padding: 40px;
background: white;
border: 1px solid rgba(0,0,0,0.30);

}








h3{

text-align: center;
margin-bottom: 20px;
color: black;

}

input{

display: block;   
padding: 10px; /*   altura  */
width: 100%;
margin:  30px 0; /* arriba y abajo*/ 
font-size: 20px;

}
.boton{
background:  #2E86C1 ; /* DEGRADADO*/ 
border:0;
opacity: 0.8;
color: black;

border-radius: 5px;
margin-bottom: 0;
float: right;
width: 150px;



}

@media(max-width:768px){

.info{

  width: 50%;
}
}
 