body {
    background: white;
}

header img {
    margin: auto;
    display: flex;
    width: 230px;
    height: 90px;
    background: white;
}

.navegador {
    height: 130px;
    background: white;
}

.navbar {
    background: white;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(122, 118, 122, 1);
    -moz-box-shadow: 1px 1px 5px 1px rgba(122, 118, 122, 1);
    box-shadow: 1px 1px 5px 1px rgba(122, 118, 122, 1);
}

.espacio-texto {
    text-align: center;
    color: gray;
}

.glyphicon {
    color: mediumseagreen;
}

.glyphicon-circle-arrow-left {
    font-size: 25px;
    color: red;
}

@media (min-width: 768px) {
    .affix-content .container {
        width: 700px;
    }
    html,
    body  {
       
        height: 100%;
/*        overflow: hidden;*/
    }
    .affix-content .container .page-header {
        margin-top: 0;
    }
    .sidebar-nav {
        position: fixed;
        width: 16%;
    }
    .affix-sidebar {
        padding-right: 0;
        font-size: small;
        padding-left: 0;
    }
    .affix-row,
    .affix-container,
    .affix-content {
        height: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .affix-content {
            background-color: #f8f8f8;s
            -webkit-box-shadow: 1px 1px 5px 1px rgba(122, 118, 122, 1);
    -moz-box-shadow: 1px 1px 5px 1px rgba(122, 118, 122, 1);
    box-shadow: 1px 1px 5px 1px rgba(122, 118, 122, 1);
    }
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
       
        max-height: none;
    }
    .sidebar-nav .navbar {
         margin-right: 20px;
        border-radius: 0;
        margin-bottom: 0;
        border: 0;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        border: 0.1px solid #E5E8E8   ;
        
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 22px;
    
        padding-bottom: 30px;
    }
}

@media (min-width: 769px) {
    .affix-content .container {
        width: 600px;
    }
    .affix-content .container .page-header {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .affix-content .container {
        width: 900px;
    }
    .affix-content .container .page-header {
        margin-top: 0;
    }
}

@media (min-width: 1220px) {
    .affix-row {
        overflow: hidden;
        
    }
    .affix-content {
        overflow: auto;
    }
    .affix-content .container {
        width: 800px;
    }
    .affix-content .container .page-header {
        margin-top: 0;
    }
    .affix-content {
        padding-right: 30px;
        padding-left: 30px;
    }
    .affix-title {
        border-bottom: 1px solid #ecf0f1;
        padding-bottom: 10px;
    }
    .navbar-nav {
        margin: 0px;
    }
    .navbar-collapse {
        padding: 0px;
    
    }
    .sidebar-nav .navbar li a:hover {
        background-color: #428bca;
        color: white;
    }
    .sidebar-nav .navbar li a > .caret {
        margin-top: 8px;
    }
}
.form{
        background-color: white;
    padding: 40px;
   margin-bottom: 50px;
     -webkit-box-shadow: 1px 1px 5px 1px rgba(122, 118, 122, 1);
    -moz-box-shadow: 1px 1px 5px 1px rgba(122, 118, 122, 1);
    box-shadow: 1px 1px 5px 1px rgba(122, 118, 122, 1);
}

.caja{
 
        background-color: white;
     padding: 40px;
    padding-top: 0px;
    padding-left: 40px;
   margin-bottom: 50px;
     -webkit-box-shadow: 1px 1px 5px 1px rgba(122, 118, 122, 1);
    -moz-box-shadow: 1px 1px 5px 1px rgba(122, 118, 122, 1);
    box-shadow: 1px 1px 5px 1px rgba(122, 118, 122, 1);
}
    
    
    





    
    








