body {
  
    background: #EAEDED;
}

header {
    
    width: 100%;
    overflow: hidden;
    background: #FDFEFE;
    margin-bottom: 50px;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.40);
}



.logo .img {
    margin: auto;
    display: flex;
    width: 150px;
    height: 75px;
    background: white;
}
.opciones-menu{

    
}
.opciones-menu .dropdown-toggle{
  font-size: 30px;
  border-left: 1px solid #707B7C  ;
    
}

 img {
    margin: 20px;
    width: 175px;
    height: 150px;
}

.recusos {
    -webkit-box-shadow: 10px 11px 5px -11px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 10px 11px 5px -11px rgba(0, 0, 0, 0.57);
    box-shadow: 10px 11px 5px -11px rgba(0, 0, 0, 0.57);
    background: #fafafa;
}

.informacion {
    border-right: 1px solid #707B7C    ;
    margin-left: 40px ;
    margin-top: 20px ;
    
    
}


.informacion h3 {
    font-weight: bold;
}
.categorias{

margin-top: 20px ;
    background: white;
}

.detalles {}

.comentario {
 
    background: #fafafa;
    -webkit-box-shadow: 10px 11px 5px -11px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 10px 11px 5px -11px rgba(0, 0, 0, 057);
    box-shadow: 10px 11px 5px -11px rgba(0, 0, 0, 0.57);
 margin-bottom: 30px;
}