body{

 background: url('C:/Users/mariv/OneDrive/Pictures/104D7100/11.jpg');
background-position: top; 

min-height: 100vh;
/* display: flex;  ***/

}

header {
    
  
    overflow: hidden;
    margin-bottom: 50px;

 
}







/*  REGISTROOOO */





.registro{
width: 40%;
max-width: 500px;
background: #FDFEFE;
padding: 90px;
border: 1px solid rgba(0,0,0,0.40);
margin:  auto;



}




h3{

text-align: center;
font-size: 40px;
color: #515A5A   ;
padding:  25px;
font-weight: lighter;
margin-bottom: 30px;

}

input{

display: block;   
padding:10px; /*   altura  */
width: 90%;
margin:  20px 0px; /* arriba y abajo*/ 
font-size: 20px;
overflow:hidden;




}




.boton{
background:  #2E86C1 ; /* DEGRADADO*/ 
border:0;

border-radius: 5px;

float: right;
width: 300px;
 overflow:hidden;
 font-size: 15px;

color: white;
font-weight: bold;


}

.boton:hover{

    background:  #154360 ;
    color: white;
    font-size: 20px;
    padding: 10px;
    font-weight: bolder;
    
}
label {

color: #424949;
font-weight: bolder;
font-size: 18px;
text-align: CENTER;

}

select{

display: block;   
padding:10px; /*   altura  */
width: 95%;
margin:  20px 0px; /* arriba y abajo*/ 
font-size: 20px;
overflow:hidden;


}


