


.perfil {
 

    borde: 1px solid rgba(0, 0, 0, 0.40);

    margin: 0px ;
    margin-top: 0px;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(122,118,122,1);
-moz-box-shadow: 1px 1px 5px 1px rgba(122,118,122,1);
box-shadow: 1px 1px 5px 1px rgba(122,118,122,1);

}

.imagen-perfil {
    width: 100%;
    padding: 60px;
    background-image: url('C:/Users/mariv/Documents/GitHub/mypetscr/img/all.jpg');
     background-repeat: no-repeat;
    background-size: 90em 40em;
}

.perfil .imagen-perfil img {
    margin: auto;
   
    height: 200px;
    border-radius: 100%;
   
}

.perfil img:hover {
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.40);
    padding: 10px;
}

.espacio {
    width: 100%;
    padding: 60px;
    display: flex;
    background: white;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.40);
}
/*barras */


/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}
