* {
    margin: 0;
    padding: 0;
    font-family: Arial;
 
}

header {
    
    width: 100%;
    overflow: hidden;
    background: #FDFEFE;
    margin-bottom: 1000px;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.40);
}

header .logo {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    background: white;
}

.logo img {
    margin: auto;
    display: flex;
    width: 300px;
    height: 150px;
    background: white;
}

footer{

width: 100%;
background-color: #222;
padding: 4% 0;

overflow: hidden;
display: flex;  

}

.about{

width: 800px;

padding: 5px;
margin: auto;




}
.about p  {


font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
color: #8c8c8c ;
text-align: justify;
line-height: 30px;
}


footer h4{

font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
color: white ;
text-align: center;
margin-bottom: 80px; /* separa */ 

}

.contac  {

width: 500px;

padding: 10px;
margin: auto;



}

.contac li{

font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
color: #8c8c8c ;
text-align: justify;
line-height: 20px;
margin-bottom: 50px; /* separa */ 
}


