header {
    margin-bottom: 0px;
}


/*mascota */

* {
    background: darkgrey;
}

.perfil {
 
   
    borde: 1px solid rgba(0, 0, 0, 0.40);

    margin: 0px 500px;
    

}

.imagen-perfil {
    width: 100%;
    padding: 100px;
    background-image: url('C:/Users/mariv/Documents/GitHub/mypetscr/img/all.jpg');
     background-repeat: no-repeat;
    background-size: 90em 40em;
}

.perfil .imagen-perfil img {
    margin: auto;
   
    height: 200px;
    border-radius: 100%;
   
}

.perfil img:hover {
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.40);
    padding: 10px;
}

.espacio {
    width: 100%;
    padding: 100px;
    display: flex;
    background: white;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.40);
}

/*    DIVIDOR                */

.guarda{
  background: white;

    padding: 60px;
    margin-bottom: 60px;
    
}

.guarda p{
    background: white;
    
 
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;

   
    
    
}





/*         iman-favorio      */        

.favoritos{
    
    margin: 0px 400px;
;
    borde: 1px solid rgba(0, 0, 0, 0.40);
    margin-bottom: 60px;
     background: red;

        display: inline-flex;
}


.favoritos1 {
    margin: 20px 100px;
    float: left;
    width: 650px;
    height: 200px;
    border: 1px solid gray;
    background: white;
}

.favoritos2{
   
    margin: 20px;
    float: right;
    width: 650px;
    height: 200px;
    border: 1px solid gray;
    background: white;

}



.favoritos1 img {
    float: left;
    width: 200px;
    height: 200px;
    
}


.favoritos2 img {
    float: left;
    width: 200px;
    height: 200px;
}


.texto {
    float: right;
    display: block;
    margin-bottom: -50px;
    height: 130px;
    width: 400px;
    padding-top: 60px;
    text-align: center;
    background: white;
}

.texto h3 {
    background: white;
    font-size: 25px;
    height: 80px;
    width: 400px;
}

.texto .lugar {
    background: #037e8c;
    height: 20px;
    width: 110px;
    color: white;
    font-size: 11px;
    font-weight: bolder;
    text-align: center;
    border-radius: 12px;
    margin: 2px;
}

.texto .categoria {
    background: #1f618d;
    height: 20px;
    width: 110px;
    color: white;
    font-size: 11px;
    font-weight: bolder;
    text-align: center;
    border-radius: 12px;
}


/*         menu       */

.header {
    display: flex;
}

.header nav {
    width: 100%;
    max-width: 100%;
    margin: 0px auto;
    background: #1F618D;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.menu_bar {
    display: none;
}

.header nav ul {
    background: #1F618D;
    overflow: hidden;
    list-style: none;
}

.header nav ul li {
    float: left;
    border: 1px solid gray;
}

.header nav ul li a {
    color: #fff;
    background: #1F618D;
    padding: 50px;
    display: block;
    text-decoration: none;
}

.header nav ul li span {
    margin-right: 10px;
}

.header nav ul li a:hover {
    background: #037E8C;
}

section {
    padding: 20px;
}

@media screen and (max-width:1500px) {
 
    
    
    /*    menu  */
    
    .header nav {
        width: 80%;
        height: 100%;
        left: -100%;
        margin: 0;
        position: fixed;
    }
    .header nav ul li {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    .menu_bar {
        display: block;
        width: 100%;
        background: #ccc;
    }
    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        background: #024959;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .menu_bar span {
        float: right;
        font-size: 40px;
    }
}